<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Attending</a></li>
  <li role="presentation" class="active"><a href="/users/:id/events">Hosting</a></li>
</ul>
<div class="hosting">
  <h1>
    Events you're hosting:
  </h1>

  <% if current_user.events.count == 0 %>
  <h4>
    You're not hosting any events.
  </h4>
  <%= link_to 'Make one now!', new_event_path, class: "btn btn-primary btn-sm" %>
  <% else %>
  <div class="row">
      <% current_user.events.each do |event| %>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= event.name %> <small>Hosted by <%= event.host %></small></h4>
            </div>
            <div class="panel-body">
              <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <%= event.location %>
              </p>
              <p>
                <span class="glyphicon glyphicon-time"></span>
                <%= event.timestart.strftime("%B %-d, %l:%M %p") %>
              </p>
              <p><%= link_to 'View', event, class: "btn btn-primary btn-sm" %> <%= link_to 'Edit', edit_event_path(event), class: "btn btn-default btn-sm" %></p>
            </div>
          </div>
        </div>
    
      <% end %>
  </div>
  <%= link_to 'New event', new_event_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
