<div class="page-header">
  <h1><%= @event.name %> <small>Hosted by <%= @event.host %></small></h1>
</div>

<div class="well">
  <p>
    <span class="glyphicon glyphicon-home"></span>
    <%= @event.location %>
  </p>

  <p>
    <span class="glyphicon glyphicon-time"></span>
    <% if @event.timestart.strftime("%A, %B %-d, %Y") == @event.timeend.strftime("%A, %B %-d, %Y") %>
      <%= @event.timestart.strftime("%A, %B %-d, %Y, %l:%M %p") %> to <%= @event.timeend.strftime("%l:%M %p") %>
    <% else %>
      <%= @event.timestart.strftime("%A, %B %-d, %Y, %l:%M %p") %> to <%= @event.timeend.strftime("%A, %B %-d, %Y, %l:%M %p") %>
    <% end %>
  </p>

  <p>
    <span class="glyphicon glyphicon-list"></span>
    <%= render 'stats' %>
  </p>
</div>

<div class="well">
  <p>
    <%= @event.description %>
  </p>
</div>

<%= render 'attend_form' %>
<br>
<%= link_to 'Back', events_path %>
<% if current_user.id == @event.user_id %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
<% end %>
