<h2>
  <strong><%= @event.name %></strong>
</h2>

<p>
  <strong>Location:</strong>
  <%= @event.location %>, <%= @event.timestart %> to <%= @event.timeend %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
