<h2>
  <strong><%= @event.name %></strong>
</h2>

<p>
  <strong>Location:</strong>
  <%= @event.location %>, <%= @event.timestart %> to <%= @event.timeend %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host %>
</p>

<%= render 'attend_form' %>
<%= link_to 'Back', events_path %>
<% if current_user == @event.user %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
